
@{
    ViewBag.Title = "ArtistDetial";
    Layout = "~/Views/Shared/General_Layout.cshtml";
}

<div class=container-fluid>
    <div class="row" style="margin-top:65px;">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 heN">
            <h1 align="center">Artist Management</h1>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row blank1">
        <div class="col-sm-12"></div>
    </div>
    <div class="row main-service">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 gtn">
            <p align="center">
                Entertainers and Artists are now the norm for elevating the guest experience at a wedding celebration. International Performing Artists, world renowned DJs, Live Bands, Percussionists, Aerial Acrobats, Concept Artists and whole lot more is on offer for the grand wedding celebrations that you may have envisioned for your big day. We are bespoke wedding planners in the UAE having hosted destination weddings all over the world. This enable us to bring to you the finest talent from all over the world to perform at your events.
                <br /><br />
                Our professional wedding planning team manages all requirements for artists from beginning to end. Identifying talent, negotiating contracts, understanding their technical requirements, applying for performance permissions, logistics, hospitality and a lot more sensitivities go into Artist Management. At Vivaah Celebrations, we have successfully managed numerous artists over the years relieving our clients of any hassles or stress.
            </p>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row" style="margin-bottom: 40px; margin-top: 40px;">
        <div class="col-sm-4">
            <img src="~/Content/images/g24.jpg" class="img-thumbnail img-responsive img" />
        </div>
        <div class="col-sm-4">
            <img src="~/Content/images/g23.jpg" class="img-thumbnail img-responsive img" />
        </div>
        <div class="col-sm-4">
            <img src="~/Content/images/g22.jpg" class="img-thumbnail img-responsive img" />
        </div>

    </div>
</div>