
@{
    ViewBag.Title = "Batchlor";
    Layout = "~/Views/Shared/General_Layout.cshtml";
}

<div class=container-fluid>
    <div class="row" style="margin-top: 65px;">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 heN">
            <h1 align="center">Hen’s Night</h1>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row blank1">
        <div class="col-sm-12"></div>
    </div>
    <div class="row main-service">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 gtn">
            <p align="center">
                Why should men have all the fun? Are you that bride who wants to have a hen’s night out with your girls before you tie the knot? We conceptualize themed bachelorette parties whether you and your friends can re-live your best memories and share a good laugh. These indeed will be moments a bride and her friends will remember for the rest of their lives, and we are here to make it happen.
                <br /><br />
                The best in dining, entertainment, and adventure sports options can be curated for your big night out with friends. Need we say more? Reach us to plan your epic hens night out.
            </p>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row" style="margin-bottom: 40px; margin-top: 40px;">
        <div class="col-sm-4">
            <img src="~/Content/images/g13.jpg" class="img-thumbnail img-responsive img" />
        </div>
        <div class="col-sm-4">
            <img src="~/Content/images/g14.jpg" class="img-thumbnail img-responsive img" />
        </div>
        <div class="col-sm-4">
            <img src="~/Content/images/g16.jpg" class="img-thumbnail img-responsive img" />
        </div>

    </div>
</div>