
@{
    ViewBag.Title = "BridalCare";
    Layout = "~/Views/Shared/General_Layout.cshtml";
}


<div class=container-fluid>
    <div class="row" style="margin-top: 65px;">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 heN">
            <h1 align="center">Bridal Care</h1>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row blank1">
        <div class="col-sm-12"></div>
    </div>
    <div class="row main-service">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 gtn">
            <p align="center">
                Ensuring the bride is at her best on her big day is what our team of experts constantly strive towards. Skin Care, Hair Stylists, Ensemble Consultants, Henna / Mehendi Artists and so much more goes into preparing the bride for the most important celebration of her life.
                <br /><br />
                As your preferred destination wedding planners, we bring you the best wedding vendors in each area of Bridal Care to ensure that you enjoy the perfect desired look for your events.
            </p>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row" style="margin-bottom: 40px; margin-top: 40px;">
        <div class="col-sm-4">
            <img src="~/Content/images/g7.jpg" class="img-thumbnail img-responsive img" />
        </div>
        <div class="col-sm-4">
            <img src="~/Content/images/g9.jpeg" class="img-thumbnail img-responsive img" />
        </div>
        <div class="col-sm-4">
            <img src="~/Content/images/g8.jpg" class="img-thumbnail img-responsive img" />
        </div>

    </div>
</div>