
@{
    ViewBag.Title = "DestiInvetation";
    Layout = "~/Views/Shared/General_Layout.cshtml";
}



<div class=container-fluid>
    <div class="row" style="margin-top: 65px;">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 heN">
            <h1 align="center">Designer Invitations</h1>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row blank1">
        <div class="col-sm-12"></div>
    </div>
    <div class="row main-service">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 gtn">
            <p align="center">
                First impressions create lasting memories and hence your wedding invites should be unique and impressive.
                <br /><br />
                In the modern electronic age, destination weddings or intimate weddings have known to make use of the electronic medium to send out wedding invites. However, quite many families still choose to do this the traditional way by sending wedding invitations to each guest.
                <br /><br />
                Over the years, the art and detailing of wedding invites has evolved significantly. From elaborate boxes to gift packaging and so much in between, it truly symbolizes what the wedding celebrations ahead could look like. Our team of award winning wedding designers help conceptualize and ideate your wedding invitation options based on your budgets, style and preferences.
            </p>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row" style="margin-bottom: 40px; margin-top: 40px;">
        <div class="col-sm-4">
            <img src="~/Content/images/g5.jpg" class="img-thumbnail img-responsive img" />
        </div>
        <div class="col-sm-4">
            <img src="~/Content/images/g6.jpg" class="img-thumbnail img-responsive img" />
        </div>
        <div class="col-sm-4">
            <img src="~/Content/images/g4.jpg" class="img-thumbnail img-responsive img" />
        </div>

    </div>
</div>
