
@{
    ViewBag.Title = "DestiManage";
    Layout = "~/Views/Shared/General_Layout.cshtml";
}

<div class=container-fluid>
    <div class="row" style="margin-top: 65px;">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 heN">
            <h1 align="center">Destination Management</h1>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row blank1">
        <div class="col-sm-12"></div>
    </div>
    <div class="row main-service">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 gtn">
            <p align="center">
                A destination wedding calls for a detailed understanding of the wedding destination an the services it has to offer. Our team of wedding experts excel in budget planning, vendor management skills, and organizational skills to ensure that the destination wedding is conceptualized, planned and operated smoothly.
                <br /><br />
                As a renowned destination wedding planning company, we have successfully delivered some of the finest wedding experiences to our clients and their guests. Our dedicated team of wedding planners give our clients top priority and assist families from inception to wrap-up.
                <br /><br />
                From arranging the venues at any given destination across different countries, to managing the hotels, identifying the right venues for the events, to guest entertainment – we take care of everything. We also happily arrange for excursions and adventures that your guests may want to experience at the wedding destination.
            </p>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row" style="margin-bottom: 40px; margin-top: 40px;">
        <div class="col-sm-4">
            <img src="~/Content/images/g2.jpg" class="img-thumbnail img-responsive img"/>
        </div>
        <div class="col-sm-4">
            <img src="~/Content/images/g1.jpg" class="img-thumbnail img-responsive img"  />
        </div>
        <div class="col-sm-4">
            <img src="~/Content/images/g3.jpg" class="img-thumbnail img-responsive img" />
        </div>

    </div>
</div>