
@{
    ViewBag.Title = "EntertainmentSol";
    Layout = "~/Views/Shared/General_Layout.cshtml";
}


<div class=container-fluid>
    <div class="row" style="margin-top: 65px;">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 heN">
            <h1 align="center">Entertainment Solutions</h1>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row blank1">
        <div class="col-sm-12"></div>
    </div>
    <div class="row main-service">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 gtn">
            <p align="center">
                A celebration would be incomplete without entertainment acts or artists engaging the audience. The experience that your guest enjoys lingers on in their minds for a long time to come. With state of the art, new-age and modern entertainment acts available to us at all times, we are able to bring to you the newest forms of entertainment for your wedding or events.
                <br /><br />
                Our team of professional wedding planners recommend ideal entertainment acts that suit your theme and budget. With a large variety of local and international talents, you will surely be spoilt for choice whether it is Live Bands, Stand-Up Comedians, Aerial Artists, DJs, MCs, or any other artists. Enjoying competitive rates, we pass on the benefit of lower pricing to our clients.
            </p>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row" style="margin-bottom: 40px; margin-top: 40px;">
        <div class="col-sm-4">
            <img src="~/Content/images/g47.jpg" class="img-thumbnail img-responsive img" />
        </div>
        <div class="col-sm-4">
            <img src="~/Content/images/g48.jpg" class="img-thumbnail img-responsive img" />
        </div>
        <div class="col-sm-4">
            <img src="~/Content/images/g49.jpg" class="img-thumbnail img-responsive img" />
        </div>

    </div>
</div>
