
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/General_Layout.cshtml";
}
<link href="~/Content/animationGallary/css/aos.css" rel="stylesheet" />
<script src="~/Content/animationGallary/js/counterup.min.js"></script>
<script src="~/Content/animationGallary/js/owl.carousel.min.js"></script>
<script src="~/Content/animationGallary/js/main.js"></script>
<div class="container-fluid">
    <div class="row" style="margin-bottom:20px;">
        <br />
        <div class="col-sm-12 phon"
             style="min-height: 350px; margin-top: 30px; padding: 0px; background-image: url('/Content/images/n6.jpg'); background-repeat: no-repeat; min-width: 100%; background-size: cover ">
            <div class="col-sm-12" style="background: rgba(2,2,2,0.4); min-height: 350px;min-width:100% ">
                <h3 class="display-3 animated slideInDown text-center" style="color:white;text-shadow:2px 5px 2px maroon;padding-top:120px;opacity:0.5">Gallery</h3>
            </div>
        </div>
    </div>
</div>
<div class="container gallery-container" style="padding-top: 15px; border-top: 2px solid #be9559;">


    <div class="tz-gallery">

        <div class="row">
            <div class="col-sm-6 col-md-4" data-aos="flip-up">
                <a class="lightbox" href="~/Content/images/gallery/g1.jpg">
                    <img src="~/Content/images/gallery/g1.jpg" alt="Park" style="height:200px;width:100%;">
                </a>
            </div>
            <div class="col-sm-6 col-md-4" data-aos="flip-right">
                <a class="lightbox" href="~/Content/images/gallery/g2.jpg">
                    <img src="~/Content/images/gallery/g2.jpg" alt="Park" style="height:200px;width:100%;">
                </a>
            </div>
            <div class="col-sm-12 col-md-4 " data-aos="flip-left">
                <a class="lightbox" href="~/Content/images/gallery/g3.jpg">
                    <img src="~/Content/images/gallery/g3.jpg" alt="Park" style="height:200px;width:100%;">
                </a>
            </div>
            <div class="col-sm-6 col-md-4" data-aos="flip-down">
                <a class="lightbox" href="~/Content/images/gallery/g4.jpg">
                    <img src="~/Content/images/gallery/g4.jpg" alt="Park" style="height:200px;width:100%;">
                </a>
            </div>
            <div class="col-sm-6 col-md-4" data-aos="flip-right">
                <a class="lightbox" href="~/Content/images/gallery/n5.jpg">
                    <img src="~/Content/images/gallery/n5.jpg" alt="Park" style="height:200px;width:100%;">
                </a>
            </div>
            <div class="col-sm-6 col-md-4" data-aos="flip-down">
                <a class="lightbox" href="~/Content/images/gallery/g6.jpg">
                    <img src="~/Content/images/gallery/g6.jpg" alt="Park" style="height:200px;width:100%;">
                </a>
            </div>
            <div class="col-sm-6 col-md-4" data-aos="flip-up">
                <a class="lightbox" href="~/Content/images/gallery/g7.png">
                    <img src="~/Content/images/gallery/g7.png" alt="Park" style="height:200px;width:100%;">
                </a>
            </div>
            <div class="col-sm-6 col-md-4" data-aos="flip-down">
                <a class="lightbox" href="~/Content/images/gallery/g8.jpg">
                    <img src="~/Content/images/gallery/g8.jpg" alt="Park" style="height:200px;width:100%;">
                </a>
            </div>
            <div class="col-sm-6 col-md-4" data-aos="flip-right">
                <a class="lightbox" href="~/Content/images/gallery/g9.jpg">
                    <img src="~/Content/images/gallery/g9.jpg" alt="Park" style="height:200px;width:100%;">
                </a>
            </div>
            <div class="col-sm-6 col-md-4" data-aos="slide-up">
                <a class="lightbox" href="~/Content/images/gallery/g10.jpg">
                    <img src="~/Content/images/gallery/g10.jpg" alt="Park" style="height:200px;width:100%;">
                </a>
            </div>
            <div class="col-sm-6 col-md-4" data-aos="flip-right">
                <a class="lightbox" href="~/Content/images/gallery/g11.jpg">
                    <img src="~/Content/images/gallery/g11.jpg" alt="Park" style="height:200px;width:100%;">
                </a>
            </div>
            <div class="col-sm-6 col-md-4" data-aos="slide-up">
                <a class="lightbox" href="~/Content/images/gallery/g12.png">
                    <img src="~/Content/images/gallery/g12.png" alt="Park" style="height:200px;width:100%;">
                </a>
            </div>
            <div class="col-sm-6 col-md-4" data-aos="flip-right">
                <a class="lightbox" href="~/Content/images/pass.jpg">
                    <img src="~/Content/images/pass.jpg" alt="Park" style="height:200px;width:100%;">
                </a>
            </div>
            <div class="col-sm-6 col-md-4" data-aos="slide-up">
                <a class="lightbox" href="~/Content/images/log.jpeg">
                    <img src="~/Content/images/log.jpeg" alt="Park" style="height:200px;width:100%;">
                </a>
            </div>
            <div class="col-sm-6 col-md-4" data-aos="flip-left">
                <a class="lightbox" href="~/Content/images/bridal.jpg">
                    <img src="~/Content/images/bridal.jpg" alt="Park" style="height:200px;width:100%;">
                </a>
            </div>
            <div class="col-sm-6 col-md-4" data-aos="flip-down">
                <a class="lightbox" href="~/Content/images/san2.jpeg">
                    <img src="~/Content/images/san2.jpeg" alt="Park" style="height:200px;width:100%;">
                </a>
            </div>
            <div class="col-sm-6 col-md-4" data-aos="flip-down">
                <a class="lightbox" href="~/Content/images/book3.jpg">
                    <img src="~/Content/images/book3.jpg" alt="Park" style="height:200px;width:100%;">
                </a>
            </div>
            <div class="col-sm-6 col-md-4" data-aos="flip-left">
                <a class="lightbox" href="~/Content/images/g26.jpg">
                    <img src="~/Content/images/g26.jpg" alt="Park" style="height:200px;width:100%;">
                </a>
            </div>
        </div>

    </div>

</div>

<script>
    baguetteBox.run('.tz-gallery');
</script>

