
@{
    ViewBag.Title = "GuestAccom";
    Layout = "~/Views/Shared/General_Layout.cshtml";
}


<div class=container-fluid>
    <div class="row" style="margin-top: 65px;">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 heN">
            <h1 align="center">Guest Accommodation</h1>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row blank1">
        <div class="col-sm-12"></div>
    </div>
    <div class="row main-service">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 gtn">
            <p align="center">
                As specialized Indian wedding planners in UAE, we understand that you may need to provide your guests with accommodation which is more often the case at destination weddings. Providing your guests with all the comfort and convenience is an essential part of your wedding celebrations.
                <br /><br />
                Our guest relations team assists you in identifying the ideal accommodation options across multiple room categories keeping your budgets and preferences in mind. Furthermore, we assist you in negotiating best pricing and including value added services which is a part of our wedding planning services.
            </p>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row" style="margin-bottom: 40px; margin-top: 40px;">
        <div class="col-sm-4">
            <img src="~/Content/images/g37.jpg" class="img-thumbnail img-responsive img" />
        </div>
        <div class="col-sm-4">
            <img src="~/Content/images/g36.jpg" class="img-thumbnail img-responsive img" />
        </div>
        <div class="col-sm-4">
            <img src="~/Content/images/g38.jpg" class="img-thumbnail img-responsive img" />
        </div>

    </div>
</div>
