
@{
    ViewBag.Title = "LightSound";
    Layout = "~/Views/Shared/General_Layout.cshtml";
}


<div class=container-fluid>
    <div class="row" style="margin-top: 65px;">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 heN">
            <h1 align="center">Light & Sound Production</h1>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row blank1">
        <div class="col-sm-12"></div>
    </div>
    <div class="row main-service">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 gtn">
            <p align="center">
                Any event would be incomplete without the right Light and Sound production. Carefully designed light and production concepts plays a vital role in stimulating the senses and providing an immersive experience at any event.
                <br /><br />
                With the best technical professionals in the city, Vivaah Celebrations provides the most innovative sound and light technology using the latest equipment that complies with international standards. Our creative designers present unimaginable settings and ambiance well suited for the events at your wedding celebrations.
            </p>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row" style="margin-bottom: 40px; margin-top: 40px;">
        <div class="col-sm-4">
            <img src="~/Content/images/g47.jpg" class="img-thumbnail img-responsive img" />
        </div>
        <div class="col-sm-4">
            <img src="~/Content/images/g48.jpg" class="img-thumbnail img-responsive img" />
        </div>
        <div class="col-sm-4">
            <img src="~/Content/images/g49.jpg" class="img-thumbnail img-responsive img" />
        </div>

    </div>
</div>

