
@{
    ViewBag.Title = "MenuPlan";
    Layout = "~/Views/Shared/General_Layout.cshtml";
}


<div class=container-fluid>
    <div class="row" style="margin-top: 65px;">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 heN">
            <h1 align="center">Menu Planning & Tasting</h1>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row blank1">
        <div class="col-sm-12"></div>
    </div>
    <div class="row main-service">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 gtn">
            <p align="center">
                Food and Beverage play an important role at any wedding whether it be a destination wedding or a home-ground wedding. There is no denying that a carefully crafted wedding menu can be key to a successful wedding. Our culinary experts suggest and guide you through menu planning based on tastes, dietary requirements, and themes. A carefully curated menu heightens the guest experience at your events.
                <br /><br />
                Awarded the best wedding planners in the UAE and the leading destination wedding planners, we have curated multi-cuisine menus along with emotional catering concepts for an immersive experience at weddings. Furthermore, food tasting sessions are conducted in the presence of our experienced wedding planners to ensure your expectations are met and you are stress-free at your events.
            </p>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row" style="margin-bottom: 40px; margin-top: 40px;">
        <div class="col-sm-4">
            <img src="~/Content/images/g17.jpg" class="img-thumbnail img-responsive img" />
        </div>
        <div class="col-sm-4">
            <img src="~/Content/images/g19.jpg" class="img-thumbnail img-responsive img" />
        </div>
        <div class="col-sm-4">
            <img src="~/Content/images/g25.jpeg" class="img-thumbnail img-responsive img" />
        </div>

    </div>
</div>