
@{
    ViewBag.Title = "SangeetDetail";
    Layout = "~/Views/Shared/General_Layout.cshtml";
}

<div class=container-fluid>
    <div class="row" style="margin-top: 65px;">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 heN">
            <h1 align="center">Sangeet Skit Show Direction</h1>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row blank1">
        <div class="col-sm-12"></div>
    </div>
    <div class="row main-service">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 gtn">
            <p align="center">
                Sangeet, meaning “music”, has today, evolved into an evening of song and dance extravaganza at a wedding celebration. It is perhaps the event that is most looked forward to. Friends and family practice tirelessly to perfect their dance moves for this big night. The theme of Sangeet ceremonies today is so wide and varied with optimum use of latest technologies and state of the art light and sound production. International Artists, DJs and Entertainment Acts are hired by families for their event to put up a memorable show.
                <br /><br />
                Close family and friends usually put up a show for the bride and the groom on their special occasion. This trend of family performances and skits at weddings has gathered pace over time. We take pride in conceptualizing and directing some of the most beautiful wedding shows and skits at weddings.
                <br /><br />
                Our extensive network of choreographers and show directors will help perfect your dancing and acting skills for that exceptional performance. Our show directors assist in scriptwriting, studio recordings, costumes, set designs, acting, and much more. Overall direction is taken care of by our creative team, who has extensive experience within their expertise.
            </p>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row" style="margin-bottom: 40px; margin-top: 40px;">
        <div class="col-sm-4">
            <img src="~/Content/images/g28.jpg" class="img-thumbnail img-responsive img" />
        </div>
        <div class="col-sm-4">
            <img src="~/Content/images/g27.jpg" class="img-thumbnail img-responsive img" />
        </div>
        <div class="col-sm-4">
            <img src="~/Content/images/g29.jpeg" class="img-thumbnail img-responsive img" />
        </div>

    </div>
</div>