
@{
    ViewBag.Title = "ThemeConcept";
    Layout = "~/Views/Shared/General_Layout.cshtml";
}


<div class=container-fluid>
    <div class="row" style="margin-top: 65px;">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 heN">
            <h1 align="center">Themes, Concepts & Decor</h1>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row blank1">
        <div class="col-sm-12"></div>
    </div>
    <div class="row main-service">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 gtn">
            <p align="center">
                Whether it’s the Sangeet Evening, Engagement or your Reception evening, we offer infinite creative solutions for your event Themes and Concepts.
                <br /><br />
                At Vivaah Celebrations, our wedding designers brainstorm ideas to come up with the most innovative and immersive concepts for your event décor and production. Whether its is a destination wedding or an intimate wedding celebration, our creative geniuses work in depth and detail.
                <br /><br />
                Production works such as Special Effects, Stage Design, Light and Sound Production, Wedding Decoration, Staff Uniforms, and other intricate details are deeply looked into and worked upon to successfully deliver an unforgettable experience for you and your guests!
                <br /><br />
                Talk to us and let us know what inspires you.
            </p>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row" style="margin-bottom: 40px; margin-top: 40px;">
        <div class="col-sm-4">
            <img src="~/Content/images/g39.jpg" class="img-thumbnail img-responsive img" />
        </div>
        <div class="col-sm-4">
            <img src="~/Content/images/g40.jpeg" class="img-thumbnail img-responsive img" />
        </div>
        <div class="col-sm-4">
            <img src="~/Content/images/g46.jpg" class="img-thumbnail img-responsive img" />
        </div>

    </div>
</div>
