
@{
    ViewBag.Title = "VendorDetails";
    Layout = "~/Views/Shared/General_Layout.cshtml";
}


<div class=container-fluid>
    <div class="row" style="margin-top: 65px;">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 heN">
            <h1 align="center">Vendor Coordination</h1>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row blank1">
        <div class="col-sm-12"></div>
    </div>
    <div class="row main-service">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 gtn">
            <p align="center">
                As your wedding planning team, we ensure that every aspect of your wedding comes together like clockwork and works in synchronization with each other to create a flawless event. Once your vendors have been finalized, our team of wedding coordinators take over the entire event management keeping all vendors informed of their deliverables. With numerous vendors working across different services, it is important that they are managed in the most efficient manner.
                <br /><br />
                Our team of professional wedding planners inform all vendors of the event schedules followed by detailed training sessions so they deliver their services as expected. Being one of the most experienced wedding planners, we are well versed with the requirements and expectations of local and international vendors. Our proactive vendor coordination enables us to deliver as hassle-free event.
            </p>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row" style="margin-bottom: 40px; margin-top: 40px;">
        <div class="col-sm-4">
            <img src="~/Content/images/g42.jpg" class="img-thumbnail img-responsive img" />
        </div>
        <div class="col-sm-4">
            <img src="~/Content/images/g44.jpg" class="img-thumbnail img-responsive img" />
        </div>
        <div class="col-sm-4">
            <img src="~/Content/images/g45.jpg" class="img-thumbnail img-responsive img" />
        </div>

    </div>
</div>