
@{
    ViewBag.Title = "WeddingStationary";
    Layout = "~/Views/Shared/General_Layout.cshtml";
}


<div class=container-fluid>
    <div class="row" style="margin-top: 65px;">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 heN">
            <h1 align="center">Wedding stationary</h1>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row blank1">
        <div class="col-sm-12"></div>
    </div>
    <div class="row main-service">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 gtn">
            <p align="center">
                VC Creative Studio’s bespoke stationery and design services are tailored from start to finish to ensure we deliver ideal collateral for your dream celebrations. From brainstorming to delivery we are with you all the way. Our selection of ready-to-print stationery templates are designed to be completely customisable to fit in with your event theme. They represent the perfect option for those with a budget in mind who don’t want to compromise on quality. We understand how special this occasion is, which is why our designs for your event will always be one of a kind. As leading destination wedding planners, we advice you on requirements such as E-Invites, Save the Date, Room Hamper Tags, Luggage Tags, Event Signage, Welcome Notes, Thank You Notes, Do Not Disturb Tags, Ritual Booklets and a lot more than goes into a full fledged collateral pack for a destination wedding.
            </p>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row" style="margin-bottom: 40px; margin-top: 40px;">
        <div class="col-sm-4">
            <img src="~/Content/images/g31.jpg" class="img-thumbnail img-responsive img" />
        </div>
        <div class="col-sm-4">
            <img src="~/Content/images/g30.jpg" class="img-thumbnail img-responsive img" />
        </div>
        <div class="col-sm-4">
            <img src="~/Content/images/g32.jpg" class="img-thumbnail img-responsive img" />
        </div>

    </div>
</div>
