
@{
    ViewBag.Title = "Wedsits";
    Layout = "~/Views/Shared/General_Layout.cshtml";
}


<div class=container-fluid>
    <div class="row" style="margin-top: 65px;">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 heN">
            <h1 align="center">Wedsites</h1>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row blank1">
        <div class="col-sm-12"></div>
    </div>
    <div class="row main-service">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 gtn">
            <p align="center">
                Providing key information about your wedding celebrations helps your guests prepare better for the festivities. It could be information on weather, flights, logistics or even event attire. All this and more can be listed on your dedicated wedding website also known as Wedsites. Furthermore, we can include interactive features to engage your wedding guests in all the fun even before the wedding celebrations begin.
                <br /><br />
                This can further be expanded into Wedding Apps which are handy and easy to navigate for your wedding guests during the celebrations. As renowned international wedding planners and being one of the first wedding planners in UAE, we have planned, conceptualized and managed several destination weddings where Wedsites and Apps have been used extensively to provide new information on destinations.
            </p>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row" style="margin-bottom: 40px; margin-top: 40px;">
        <div class="col-sm-4">
            <img src="~/Content/images/g6.jpg" class="img-thumbnail img-responsive img" />
        </div>
        <div class="col-sm-4">
            <img src="~/Content/images/g50.jpg" class="img-thumbnail img-responsive img" />
        </div>
        <div class="col-sm-4">
            <img src="~/Content/images/g30.jpg" class="img-thumbnail img-responsive img" />
        </div>

    </div>
</div>

