
@{
    ViewBag.Title = "CustDashBoard";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}
<style>
    .navbox {
        margin: 30px;
        min-height: 80px;
        background-color: #68392a ;
        color:white;
        padding: 5%;
        text-align: center;
        text-decoration: none;
        box-shadow: 3px 3px 4px 3px #191414;
        border-radius: 5px;
       
    }

        .navbox:hover {
            background-color: #92460e;
            color: white;
            text-decoration: none;
        }

    #st {
        color: white;
    }
</style>
<!--Main Body Start  -->
<div class="container-fluid" style="background-image:url('/Content/images/slides/dash2.jpg'); background-size:cover; background-repeat:no-repeat;">
    <h2 align="center" style="color: #68392a; font-weight: bold; margin-top: 0px; padding-top: 10px;">Customer Dashboard</h2>
    <div class="row" style="min-height:437px;margin-top:10px;">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">

            <div class="row text-white align-items-center" style="padding: 0% 0% 0% 5%">
                <a href="UserProfile" class="col-sm-3 navbox"><i class="fa fa-user" style="font-size:30px;" aria-hidden="true"></i><h6>User Profile </h6></a>
                <a href="MyBooking" class="col-sm-3 navbox"><i class="fa fa-book" style="font-size:30px;" aria-hidden="true"></i><h6> My Booking</h6></a>
                <a href="FeedBack" class="col-sm-3 navbox"><i class="fa fa-comments-o" style="font-size:30px;" aria-hidden="true"></i><h6> Feed Back </h6></a>

            </div>



            <div class="row text-white align-items-center" style="padding: 0% 0% 0% 5%">


                <a href="Complaints" class="col-sm-3 navbox"><i class="fa fa-comments" style="font-size:30px;" aria-hidden="true"></i><h6>Complain</h6></a>
                <a href="SendEmail" class="col-sm-3 navbox"><i class="fa fa-envelope" style="font-size:30px;" aria-hidden="true"></i><h6>SMS/Email</h6></a>
                <a href="ChangePassword" class="col-sm-3 navbox"><i class="fa fa-key" style="font-size:30px;" aria-hidden="true"></i><h6>Change Paswrd</h6></a>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <!--Main Body End  -->
</div>


